PizzaStoreAppFront/PizzaStoreAppFront.Domain/Service References/PizzaServiceReference/PizzaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaStoreAppBack.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_ListPizzasInOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPizzasInOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_ListPizzasInOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPizzasInOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IPizzaService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/CreateOrder" message="tns:IPizzaService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/CreateOrderResponse" message="tns:IPizzaService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPizzasInOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/ListPizzasInOrder" message="tns:IPizzaService_ListPizzasInOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/ListPizzasInOrderResponse" message="tns:IPizzaService_ListPizzasInOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPizzaService" type="tns:IPizzaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPizzasInOrder">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/ListPizzasInOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaService">
    <wsdl:port name="BasicHttpBinding_IPizzaService" binding="tns:BasicHttpBinding_IPizzaService">
      <soap:address location="http://localhost/pizzastorewcf/PizzaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>