PizzaStoreAppFront/PizzaStoreAppFront.Api/Service References/IngredientServiceReference/IngredientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PizzaStoreAppBack.DataClient.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzaStoreAppBack.DataClient.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIngredientDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientDAO" nillable="true" type="tns:IngredientDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredientDAO" nillable="true" type="tns:ArrayOfIngredientDAO" />
  <xs:complexType name="IngredientDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IngredientId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngredientDAO" nillable="true" type="tns:IngredientDAO" />
</xs:schema>