PizzaStoreAppFront/PizzaStoreAppFront.Domain/Service References/IngredientServiceReference/IngredientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IngredientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/IngredientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/IngredientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/IngredientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaStoreAppBack.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIngredientService_ListCrusts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCrusts" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListCrusts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCrustsResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListSauces_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSauces" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListSauces_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSaucesResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListCheeses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCheeses" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListCheeses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCheesesResponse" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListToppings_InputMessage">
    <wsdl:part name="parameters" element="tns:ListToppings" />
  </wsdl:message>
  <wsdl:message name="IIngredientService_ListToppings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListToppingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIngredientService">
    <wsdl:operation name="ListCrusts">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/ListCrusts" message="tns:IIngredientService_ListCrusts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/ListCrustsResponse" message="tns:IIngredientService_ListCrusts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSauces">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/ListSauces" message="tns:IIngredientService_ListSauces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/ListSaucesResponse" message="tns:IIngredientService_ListSauces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCheeses">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/ListCheeses" message="tns:IIngredientService_ListCheeses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/ListCheesesResponse" message="tns:IIngredientService_ListCheeses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListToppings">
      <wsdl:input wsaw:Action="http://tempuri.org/IIngredientService/ListToppings" message="tns:IIngredientService_ListToppings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIngredientService/ListToppingsResponse" message="tns:IIngredientService_ListToppings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIngredientService" type="tns:IIngredientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListCrusts">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/ListCrusts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSauces">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/ListSauces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCheeses">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/ListCheeses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListToppings">
      <soap:operation soapAction="http://tempuri.org/IIngredientService/ListToppings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IngredientService">
    <wsdl:port name="BasicHttpBinding_IIngredientService" binding="tns:BasicHttpBinding_IIngredientService">
      <soap:address location="http://localhost/pizzastorewcf/IngredientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>