PizzaStoreAppFront/PizzaStoreAppFront.Api/Service References/PizzaDataServiceReference/PizzaDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/pizzastorewcf/PizzaDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaStoreAppBack.DataClient.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaDataService_GetAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhone" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetStore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStore" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListStores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStores" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListStoreOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStoreOrders" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListStoreOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStoreOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPeople" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListCrusts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCrusts" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListCrusts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCrustsResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListSauces_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSauces" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListSauces_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSaucesResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListCheeses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCheeses" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListCheeses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCheesesResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListToppings_InputMessage">
    <wsdl:part name="parameters" element="tns:ListToppings" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListToppings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListToppingsResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredient" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListPizzasInOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPizzasInOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListPizzasInOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPizzasInOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListSizes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSizes" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_ListSizes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSizesResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetSize_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSize" />
  </wsdl:message>
  <wsdl:message name="IPizzaDataService_GetSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSizeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPizzaDataService">
    <wsdl:operation name="GetAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetAddress" message="tns:IPizzaDataService_GetAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetAddressResponse" message="tns:IPizzaDataService_GetAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetPhone" message="tns:IPizzaDataService_GetPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetPhoneResponse" message="tns:IPizzaDataService_GetPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetStore" message="tns:IPizzaDataService_GetStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetStoreResponse" message="tns:IPizzaDataService_GetStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetPerson" message="tns:IPizzaDataService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetPersonResponse" message="tns:IPizzaDataService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListStores" message="tns:IPizzaDataService_ListStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListStoresResponse" message="tns:IPizzaDataService_ListStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStoreOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListStoreOrders" message="tns:IPizzaDataService_ListStoreOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListStoreOrdersResponse" message="tns:IPizzaDataService_ListStoreOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListPeople" message="tns:IPizzaDataService_ListPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListPeopleResponse" message="tns:IPizzaDataService_ListPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCrusts">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListCrusts" message="tns:IPizzaDataService_ListCrusts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListCrustsResponse" message="tns:IPizzaDataService_ListCrusts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSauces">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListSauces" message="tns:IPizzaDataService_ListSauces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListSaucesResponse" message="tns:IPizzaDataService_ListSauces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCheeses">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListCheeses" message="tns:IPizzaDataService_ListCheeses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListCheesesResponse" message="tns:IPizzaDataService_ListCheeses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListToppings">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListToppings" message="tns:IPizzaDataService_ListToppings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListToppingsResponse" message="tns:IPizzaDataService_ListToppings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetIngredient" message="tns:IPizzaDataService_GetIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetIngredientResponse" message="tns:IPizzaDataService_GetIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/CreateOrder" message="tns:IPizzaDataService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/CreateOrderResponse" message="tns:IPizzaDataService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPizzasInOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListPizzasInOrder" message="tns:IPizzaDataService_ListPizzasInOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListPizzasInOrderResponse" message="tns:IPizzaDataService_ListPizzasInOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSizes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/ListSizes" message="tns:IPizzaDataService_ListSizes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/ListSizesResponse" message="tns:IPizzaDataService_ListSizes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaDataService/GetSize" message="tns:IPizzaDataService_GetSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaDataService/GetSizeResponse" message="tns:IPizzaDataService_GetSize_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPizzaDataService" type="tns:IPizzaDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhone">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStore">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStores">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStoreOrders">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListStoreOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPeople">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCrusts">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListCrusts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSauces">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListSauces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCheeses">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListCheeses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListToppings">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListToppings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredient">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPizzasInOrder">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListPizzasInOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListSizes">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/ListSizes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSize">
      <soap:operation soapAction="http://tempuri.org/IPizzaDataService/GetSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaDataService">
    <wsdl:port name="BasicHttpBinding_IPizzaDataService" binding="tns:BasicHttpBinding_IPizzaDataService">
      <soap:address location="http://localhost/pizzastorewcf/PizzaDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>